* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-family: "JetBrains Mono", monospace;
  --background: #22212c;
  --comment: #7970a9;
  --comment-secondary: #454158;
  --selection: #414d58;
  --selection-secondary: #8f9ba8;
  --black: #0b0d0f;
  --foreground: #f8f8f2;
  --cyan: #80ffea;
  --green: #8aff80;
  --orange: #ffca80;
  --yellow: #ffff80;
  --red: #ff9580;
  --pink: #ff80bf;
  --purple: #9580ff;
  --purple2: #d9cdf7;
}

::selection {
  background: var(--purple) !important;
  color: var(--black) !important;
  text-shadow: 0 0 0 var(--black);
}

body {
  background-color: var(--purple2);
  height: 100vh;

  display: grid;
  place-content: center;
}

body * {
  color: var(--background);
  font-family: "JetBrains Mono", monospace;
  line-height: 100%;
}

#btn-close,
#animated {
  display: none;
}

#app {
  display: flex;
  align-items: center;
  gap: 63px;
}

#product-image {
  position: relative;
}

#product-image button {
  position: absolute;
  right: 0;

  background-color: transparent;
  border: 0;

  cursor: pointer;
}

html.animated button#btn-360,
html.animated img#static {
  display: none;
}

html.animated button#btn-close,
html.animated img#animated {
  display: initial;
}

#product-image > img {
  width: 449px;
  height: 222px;
  object-fit: cover;
}

h4 {
  font-weight: 300;
  font-size: 10px;
  color: var(--background);
}

h1 {
  font-family: "JetBrains Mono", monospace;
  font-weight: 600;
  font-size: 32px;
  color: var(--background);

  margin-top: 12px;
}

p {
  margin-top: 12px;
  opacity: 0.67;
  color: var(--background);
}

#product-details button {
  font-size: 12px;
  line-height: 16px;

  padding: 8px 16px;
  border: 1.5px solid var(--comment);
  border-radius: 999px;
  color: var(--background);
  background-color: var(--purple2);

  margin-top: 20px;
}

#product-details button:hover {
  background-color: var(--purple);
  color: var(--foreground);
  cursor: pointer;
}
